{% extends 'tracker/base.html' %}
{% load static %}

{% block title %}
Add Grocer
{% endblock %}


{% block contentArea %}

<div class="container-lg bg-white">lmaolmao
    <div class="d-flex justify-content-evenly">
        <div>
            <img src="{% static 'images/image_placeholder.png' %}" alt="">
        </div>
        <div>
            {% if edit is True %}

            <form action="{% url 'addGrocer' %}" method="post">
                {% csrf_token %}
                <label for="store_name">Store name:</label>
                <input type="text" name="store_name" id="store_name" value="{{grocer.name}}">
        
                <label for="branch_address">Branch address:</label>
                <input type="text" name="branch_address" id="branch_address" value="{{grocer.branch.address}}">
        
                <label for="costs">Branch costs:</label>
                <input type="number" name="costs" id="costs" value="{{grocer.branch.costs}}">
        
                <input type="submit" value="Submit">
            </form>

            {% else %}
            <!-- ADD -->
            <!-- checkbox if storename exists -->
            <form action="{% url 'addGrocer' %}" method="post">
                {% csrf_token %}
                <label for="store_name">Store name:</label>
                <input type="text" name="store_name" id="store_name">
        
                <label for="branch_address">Branch address:</label>
                <input type="text" name="branch_address" id="branch_address">
        
                <label for="costs">Branch costs:</label>
                <input type="number" name="costs" id="costs">
        
                <input type="submit" value="Submit">
            </form>

            {% endif %}

        </div>        
    </div>
</div>

{% endblock %}
