{% extends 'tracker/base.html' %}
{% load static %}

{% block title %}
Add Grocer
{% endblock %}


{% block contentArea %}

<div class="container-lg bg-white">lmaolmao
    <div class="d-flex justify-content-evenly">
        <div><img src="{% static 'images/image_placeholder.png' %}" alt=""></div>
        <div><form action="">
            <input type="text" name="Store" id="">
            <input type="text" name="City" id="">
            <input type="text" name="Branch" id="">
            <input type="file" name="" id="">
        </form></div>        
    </div>
</div>

{% endblock %}
