{% extends 'tracker/base.html' %}
{% load static %}

{% block title %}
Grocer List
{% endblock %}


{% block contentArea %}
<div class="container d-flex">
    {% for grocer in grocerlist %}
        <div class="w-80">
            <img src="{% static 'images/image_placeholder.png' %}" alt="" class="img-fluid rounded-start">
            <div>{{grocer.name}}</div>
            <div>
                <button>edit</button>
                <button>delete</button>
            </div>
        </div>
        <br><br><br>
        {% endfor %}
        <!-- ! temporarily put this br delete when styling -->
</div>

{% endblock %}
