{% extends 'tracker/base.html' %}
{% load static %}
{# https://www.digitalocean.com/community/tutorials/working-with-django-templates-static-files}

{% block title %}
home
{% endblock %}


{% block contentArea %}
<p> hi </p>
<div class="container-lg bg-white">lmaolmao
    <div class="d-flex justify-content-evenly">
        <div><img src="{% static 'images/image_placeholder.png' %}" alt=""></div>
        <div><form action="">
            <input type="text" name="" id="">
        </form></div>        
    </div>


</div>
{% endblock %}
